.nav {
    background: lightblue;
    height: 100px;
    justify-content: space-between;
}

.title {
    margin-left: 2rem;
}

.about-tab {
    margin-left: auto;
}

.login-tab {
    margin-left: 1rem;
}

.home-tab {
    margin-left: 1rem;
}